@model Wikibird.Models.CategoryViewModel

@{
    ViewBag.Title = "Category:"+Model.Category;
}

<h2>@Model.Category - @Model.TotalCount pages</h2>
<ul>
@foreach (var page in Model.Pages)
{
    <li>@Html.RouteLink(page.Name, "Default", new { pageName = page.Name })</li>
}
</ul>

